body {
    background-color: black;
}

#dvd {
    position: absolute;
    width: 305;
    height: 137;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#random-text {
    height:50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer / Edge */
    user-select: none;
    /* Non-prefixed version */
}